* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav Start */
nav {
    width: 100%;
    height: 100px;
    background-color: #004F52A6;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 999;
}

.naav {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.naav ul {
    display: flex;
    gap: 64px;
    list-style: none;
    margin: 0%;
    padding: 0px;
}

.naav ul li {
    font-weight: bold;
    font-size: 24px;
}

.naav ul a {
    text-decoration: none;
    color: white;
}

.naav ul li a:hover {
    border-bottom: solid 2px white;
}


.naav .dwl .btn {
    background-color: #AC9A3D;
    color: white;
    width: 223px;
    height: 44px;
    transition: 0.8s ease;
}

.naav .dwl .btn:hover {
    background-color: #8b7c30;
    transform: scale(1.05);
}

nav img {
    Width: 82px;
    Height: 48px;
}

/* nav End */

/* section1 Start */
/* .naav-maain {
    height: 100vh;
    width: 100%;
    background-image: url(./imgs/bg-img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.section1 {
    height: 100vh;
    width: 100%;
    background-image: url(./imgs/bg-img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #004F52A6;
}

.section1 .bgg-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section1 .bgg-color .home {
    width: 777px;
    height: 310px;

}

.section1 .home .teext h1 {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.section1 .home .teext p {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.section1 .home .btnss button {
    width: 278px;
    transition: 0.5s ease;
}

.section1 .home .btnss button:hover {
    transform: scale(1.05);
}

.section1 .home .btnss .btn-outline-light:hover {
    background-color: transparent;
    color: #FFFFFF;
    transform: scale(1.05);
}

/* section1 End */


/* section2 Start */
.section2 {
    height: 100vh;
}

.section2 .meals {
    display: flex;
}

.section2 .meals .bgg {
    overflow: hidden;
    width: 33.5%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section2 .meals .meal1 {
    background-image: url(./imgs/meal-1.jpeg);
}

.section2 .meals .meal2 {
    background-image: url(./imgs/meal-2.png);
}

.section2 .meals .meal3 {
    background-image: url(./imgs/meal-3.png);
}

.section2 .meals .meal1::before,
.section2 .meals .meal2::before,
.section2 .meals .meal3::before {
    content: attr(data-h1);
    position: absolute;
    top: 4em;
    background-image: linear-gradient(#ffffff00, #004f52b4);
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding: 30px;
    transition: 0.4s;
    transform: translateY(100%);
}

.section2 .meals .meal1::after,
.section2 .meals .meal2::after,
.section2 .meals .meal3::after {
    content: attr(data-pa);
    position: absolute;
    top: 10em;
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    padding: 30px;
    transition: 0.4s;
    transform: translateY(100%);
}


.section2 .meals .meal1:hover::before,
.section2 .meals .meal2:hover::before,
.section2 .meals .meal3:hover::before {
    transform: translateY(0);
}

.section2 .meals .meal1:hover::after,
.section2 .meals .meal2:hover::after,
.section2 .meals .meal3:hover::after {
    transform: translateY(0);
}

/* section2 End */